<div id="articlesList">
  <ul>
    <li *ngFor="let article of articles">
      <article>
        <div class="card-body">
          <div class="header">
            <mat-card-title>{{ article.title }}</mat-card-title>
            <mat-card-subtitle>By {{ article.user }}, on {{ article.created }}</mat-card-subtitle>
          </div>
          <div class="card-body-content">
            <img class="card-image" src="{{ article.image }}" alt="{{ article.title }}">
            <div class="article-details">
              <p>
                {{ article.summary }} ...
              </p>
              <strong>Tags: </strong>
              <a mat-button color="accent" *ngFor="let tag of article.tags" [routerLink]="tag.link">{{ tag.name }}</a>
              <button mat-raised-button color="primary" [routerLink]="article.path">
                Read More
              </button>
            </div>
          </div>
        </div>
      </article>
    </li>
  </ul>
</div>
