<div id="articlesList">
  <mat-grid-list cols="1" [rowHeight]="rowHeight" gutterSize="25px">
    <mat-grid-tile *ngFor="let article of articles">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ article.title }}</mat-card-title>
          <mat-card-subtitle>By {{ article.user }}, on {{ article.created }}</mat-card-subtitle>
        </mat-card-header>
          <mat-card-content>
            <img mat-card-image src="{{ article.image }}" alt="{{ article.title }}">
            <div class="article-details">
              <p>
                {{ article.summary }} ...
              </p>
              <strong>Tags: </strong>
              <a mat-button *ngFor="let tag of article.tags" [routerLink]="tag.link">{{ tag.name }}</a>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <button mat-button color="primary" [routerLink]="">
              Read More
            </button>
          </mat-card-footer>
      </mat-card>    
    </mat-grid-tile>
  </mat-grid-list>
</div>