@font-face {
  font-family: 'Swansea';
  src: url('assets/swansea-font/Swansea-q3pd.ttf');
}

@font-face {
  font-family: 'Swansea Bold';
  src: url('assets/swansea-font/SwanseaBold-D0ox.ttf');
}

@font-face {
  font-family: 'Swansea Bold Italic';
  src: url('assets/swansea-font/SwanseaBoldItalic-p3Dv.ttf');
}

@font-face {
  font-family: 'Swansea Italic';
  src: url('assets/swansea-font/SwanseaItalic-AwqD.ttf');
}
