ul {
  article {
    padding: 2rem 2rem 0 2rem;
  }
  list-style: none;
  div {
    .mat-card-title {
      display: block;
    }
    &.card-body-content {
      padding-top: 1rem;
      display: flex;
      img {
        &.card-image {
          width: 30%;
          float: left;
        }
      }
      div {
        &.node-details {
          width: 65%;
          float: left;
          padding-left: 2rem;
        }
      }
    }
  }
}
